<div class="event-store-layout flex min-h-[100dvh] flex-col">
  <datha-sub-header>
    <datha-lang-select
      inputId="login-lang"
      [languages]="languages"
      [selected]="selectedLanguage()"
      (selectedChange)="onLanguageChange($event)"
    />
    <p-button
      [label]="'SUBNAV.SUPPORT' | translate"
      [text]="true"
      (onClick)="sendEmail()"
    />
  </datha-sub-header>
  <main class="event-store-content flex min-h-0 flex-1 flex-col">
    <router-outlet />
  </main>
</div>
